<% if logged_in?(:site_admin) %>
  <nav class="breadcrumb row blog-crumb">
    <div class="col">
      <%= link_to fa_icon('file-text'), toggle_status_blog_path(blog), class: "#{blog.status}" %>
      <%= link_to fa_icon('pencil-square-o'), edit_blog_path(blog) %>
      <%= link_to fa_icon('trash'), blog, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </nav>
<% end %>
