<div class="blog-post">
  <h2 class="blog-post-title"><%= link_to blog.title.upcase, blog_path(blog) %></h2>
  <p class="blog-post-meta">Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago</p>
  <%= render partial: 'blogs/admin_actions', locals: { blog: blog } %>
  <p><%= blog.body %></p>
</div>
