<div class="card">
  <div class="card-body">
    <%= form_with(model: blog, local: true) do |form| %>

      <% if blog.errors.any? %>
        <% blog.errors.full_messages.each do |e| %>
          <%= alert_generator e %>
        <% end %>
      <% end %>

      <div class="form-group">
        <%= form.text_field :title, class: 'form-control', placeholder: 'Title' %>
      </div>

      <div class="form-group">
        <%= form.label :topic %>
        <%= form.select :topic_id,
                        options_from_collection_for_select(Topic.all, 'id', 'title', @blog.topic_id),
                        { selected: blog.topic.id, include_blank: true },
                        {class: "form-control"}
        %>
      </div>

      <div class="form-group">
        <%= form.radio_button :status, 'draft' %>
        <%= form.label :status, 'Draft' %>
        <%= form.radio_button :status, 'published' %>
        <%= form.label :status, 'Published' %>
      </div>

      <div class="form-group">
        <%= form.text_area :body, class: 'form-control', rows: 15, placeholder: 'Content' %>
      </div>

      <div class="actions">
        <%= form.submit "Submit", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
