<div class="col-md-8 blog-main">
  <h3><%= @blog.title %></h3>

  <nav class="breadcrumb row">
    <div class="col">
      <%= link_to 'Home', root_path, class: 'breadcrumb-item' %>
      <%= link_to @blog.topic.title, topic_path(@blog.topic), class: 'breadcrumb-item' %>
      <span class="breadcrumb-item active" aria-current="page"><%= @blog.title %></span>
      <span class="float-right">
        <%= link_to fa_icon('pencil-square-o'), edit_blog_path(@blog) if logged_in?(:site_admin) %>
        <%= link_to fa_icon('trash'), @blog, method: :delete, data: { confirm: 'Really delete this, Sparky?' } if logged_in?(:site_admin) %>
      </span>
    </div>
  </nav>

  <h4><%= @blog.topic.title %></h4>
  <p><%= @blog.status.upcase if logged_in?(:site_admin) %></p>
  <p><%= markdown(@blog.body) %></p>

  <%= render 'comments/comment_form' %>
  <div id="comments" data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments %>
  </div>

</div>


