<div class="card">
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="row">
        <div class="col-12 col-md-6">
          <h3>Sign up</h3>
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :name %><br />
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <h3>&nbsp;</h3>
          <div class="form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
          </div>
        </div>

        <div class="col-12 col-md-10"></div>
        <div class="col-12 col-md-2">
          <div class="actions">
            <%= f.submit "Sign up", class: 'btn btn-primary btn-block' %>
          </div>
          <div class="auth-link register-text">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
