<div class="comment-card">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-1">
          <%= gravatar_helper comment.user %>
        </div>
        <div class="col-md-11">
          <div>
            <%= comment.content %>
          </div>
          <div class="comment-attribution">
            Comment posted by <span class="comment-name"><%= comment.user.name %></span> <%= distance_of_time_in_words(comment.created_at, Time.now) %> ago
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
