<div class="blog-post">
  <h3><%= link_to topic.title.upcase, topic_path(topic) %></h3>
  <p class="blog-post-meta">
    Latest article <%= distance_of_time_in_words(topic.blogs.last.created_at, Time.now) %> ago<br />
    <% articles = topic.blogs.size %>
    <span class="meta"><%= articles %> Article<%= 's' if articles > 1 %></span>
  </p>
</div>
