<div class="login">
  <div class="card">
    <div class="card-body">

      <h3>Resend unlock instructions</h3>

      <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit "Resend unlock instructions", class: 'btn btn-primary' %>
        </div>
      <% end %>

      <div class="auth-link">
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>