<%= form_for(@portfolio_item) do |form| %>

  <% if @portfolio_item.errors.any? %>
    <% @portfolio_item.errors.full_messages.each do |e| %>
      <%= alert_generator e %>
    <% end %>
  <% end %>

  <div class="row">
    <div class="col-12 col-md-6">
      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.label :subtitle %>
        <%= form.text_field :subtitle, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label class="btn btn-primary btn-block">
          Main image file <%= form.file_field :main_image, style: 'display:none' %>
        </label>
      </div>
      <div class="form-group">
        <label class="btn btn-primary btn-block">
          Thumb image file <%= form.file_field :thumb_image, style: 'display:none' %>
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :body %>
        <%= form.text_area :body, class: 'form-control', rows: 10 %>
      </div>
    </div>
    <div class="col-12">
      <h3>Technologies used:</h3>
      <div>
        <%= form.fields_for :technologies do |technology_form| %>
          <%= render 'technology_fields', f: technology_form %>
        <% end %>
        <div>
          <%= link_to_add_association 'Add Technology', form, :technologies %>
        </div>
      </div>
      <div>
        <%= form.submit 'Submit', class: 'btn btn-primary btn-block' %>
      </div>
    </div>
  </div>
<% end %>
