<div class="col-md-4 card-wrapper" data-id="<%= portfolio_item.id %>">
  <div class="card mb-4 shadow-sm">
    <%= image_tag portfolio_img(portfolio_item.thumb_image, 'thumb') , class: 'card-img-top' unless portfolio_item.thumb_image.nil? %>
    <div class="card-body">
      <p class="card-text">
        <span><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></span>
        <%= portfolio_item.subtitle %>
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
        </div>
        <small class="text-muted"><%= distance_of_time_in_words(portfolio_item.created_at, Time.now) %></small>
      </div>
    </div>
  </div>
</div>
