<h1>Coldfusion Portfolio Items</h1>
<p style="color: green"><%= notice %></p>
<%= link_to "Create New Item", new_portfolio_path if logged_in?(:site_admin) %>

<% @cf_portfolio_items.each do |portfolio_item| %>
  <h2><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></h2>
  <h3><%= portfolio_item.subtitle %></h3>
  <p><%= portfolio_item.body %></p>
  <%= image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil? %>
  <%= link_to "Edit", edit_portfolio_path(portfolio_item) if logged_in?(:site_admin) %> |
  <%= link_to 'Delete Porfolio Item', portfolio_item, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %>
<% end %>

<script>
    console.log("On Portfolios View");
</script>