<div class="container portfolio-container">
  <div class="row">
    <div class="col-12 col-md-7">
      <div><%= image_tag portfolio_img(@portfolio_item.main_image, 'main'), class: 'img-portfolio' %></div>
    </div>
    <div class="col-12 col-md-5">
      <h2><%= @portfolio_item.title %></h2>
      <em><%= @portfolio_item.subtitle %></em>
      <p><%= @portfolio_item.body %></p>
      <h4>Technologies used:</h4>
      <ul>
        <% @portfolio_item.technologies.each do |t| %>
          <li><%= t.name %></li>
        <% end %>
      </ul>
      <% if logged_in?(:site_admin) %>
        <div>
          <%= link_to 'Edit item', edit_portfolio_path, class: 'btn btn-warning' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
