<div class="login">
  <div class="card">
    <div class="card-body">
      <h3>Forgot your password?</h3>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit "Send me reset password instructions", class: 'btn btn-primary btn-block' %>
        </div>
      <% end %>

      <div class="auth-link">
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>
