<header class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">John Arnold</h3>
    <nav class="nav nav-masthead justify-content-center app-nav">
      <%= nav_helper 'nav-link', 'span' %>
      <%= login_helper('nav-link') %>
    </nav>
  </div>
</header>
