<aside class="col-md-4 blog-sidebar">
  <div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">About</h4>
    <p class="mb-0">
      John Arnold is a software engineer and designer specializing in full-stack web applications development.
    </p>
  </div>

  <%= source_helper('alert alert-primary blog-alert') %>

  <div class="p-3">
    <h4 class="font-italic">Topics</h4>
    <% @sidebar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>

  <div class="p-3">
    <h4 class="font-italic">Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://bitbucket.org/jdac" target="_blank"><%= fa_icon "bitbucket-square" %></a></li>
      <li><a href="https://bitbucket.org/jdac" target="_blank"><%= fa_icon "github-square" %></a></li>
      <li><a href="https://twitter.com/drive_jcs" target="_blank"><%= fa_icon "twitter-square" %></a></li>
      <li><a href="https://facebook.com/JdacSolutions" target="_blank"><%= fa_icon "facebook-square" %></a></li>
    </ol>
  </div>
</aside>
