<div class="col-12">
  <h2>John Arnold's Blog</h2>
  <p>An example blog template built with bootstrap.</p>
  <span><%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %></span>
  <span><%= link_to 'Topics', topics_path %></span>
</div>
