<div class="app-card-container">
  <div class="card">
    <div class="row">

      <div class="col-12 col-md-4 headshot">
        <h1>Uber &bullet; Geek</h1>
        <div class="headshot-wrapper">
          <%= image_tag "profile.jpg", alt: "Profile image" %>
        </div>
        <div class="skills">
          <% @skills.each do |skill| %>

            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped bg-warning"
                  role="progressbar"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                ></div>
              </div>
            </div>

          <% end %>
        </div>
      </div>

      <div class="col-12 col-md-8 about-content">
        <p>I am passionate about building software.  I received my Bachelor of Science degree in Computer Science, Mathematics,
          and Systems Design and have worked across multiple industries over the years for Department of Defense and Fortune
          500 companies and gained experience in a wide array of programming languages and systems development methodologies.</p>
        <p>I have been actively engaged as an independent software systems consultant for numerous clients nationwide for the
          past 5 years.</p>
        <p>Well-architected object-oriented programming. Elegance. Rapid prototyping. Sprint-based development.</p>
        <p>It's all good.</p>

        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#job_history"
            aria-expanded="false"
            aria-controls="#job_history"
          >
            Job History
          </button>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controls="#education"
          >
            Educations
          </button>
        </p>

        <p>
          <div class="collapse" id="job_history">
            <div class="card card-block">
              Job 1
            </div>
            <div class="card card-block">
              Job 2
            </div>
            <div class="card card-block">
              Job 3
            </div>
          </div>
        </p>

        <div class="collapse" id="education">
          <div class="card card-block">
            Kindergarten Academy
          </div>
          <div class="card card-block">
            Where I dropped out of high school
          </div>
          <div class="card card-block">
            They damn near kicked my ass out of college after my first 3 semesters.
          </div>
        </div>
        </p>

      </div>
    </div>
  </div>
</div>
