<div class="app-card-container">
  <div class="card">
    <div class="row">
      <div class="col-md-6">
        <h1>Let's Collaborate</h1>
        <h2>Office Location</h2>
        <p>717 Winding Way, Bartlesville, OK 74006</p>
        <h2>Website</h2>
        <p><a href="https://jdacsolutions.com">Drive JCS</a></p>
        <h2>Email</h2>
        <p><a href="mailto:webadmin@jdacsolutions.com?subject=portfolio-contact">Email</a></p>
        <h2>Phone</h2>
        <p><a href="tel:9188862681"><%= number_to_phone("9188862681") %></a></p>
      </div>
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3197.213905325349!2d-95.9445479490876!3d36.74143637986238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87b713ca9fc2763b%3A0xbad6b4b642d14775!2s717%20Winding%20Way%2C%20Bartlesville%2C%20OK%2074006!5e0!3m2!1sen!2sus!4v1642713838130!5m2!1sen!2sus"
                height="450px"
                width="450px"
                style="border:0;"
                allowfullscreen=""
                loading="lazy">
        </iframe>
      </div>
    </div>
  </div>
</div>
