<div class="inner cover">
  <h1>I Love Me Wall</h1>
  <p>I am passionate about building software.  I received my Bachelor of Science degree in Computer Science, Mathematics,
    and Systems Design and have worked across multiple industries over the years for Department of Defense and Fortune
    500 companies and gained experience in a wide array of programming languages and systems development methodologies.</p>
  <p>I have been actively engaged as an independent software systems consultant for numerous clients nationwide for the
    past 5 years.</p>
  <p>Well-architected object-oriented programming. Elegance. Rapid prototyping. Sprint-based development.</p>
  <p>It's all good.</p>
</div>
