<div class="inner cover">
  <h1 class="cover-heading">Web Applications & Software Engineering</h1>
  <p class="lead">
    Whether you need a front-end or a full stack developer, John has over 30 years experience in a multitude
    of web applications platforms including Ruby on Rails, Full-Stack PHP/MySQL, Java, ColdFusion, and even
    custom theme and plugin development for WordPress.
  </p>
  <p><span class="element2"></span></p>
  <p class="lead">
    <%= link_to "Learn more", about_me_path, class: 'btn btn-lg btn-secondary' %>
  </p>
</div>
