<div class="inner cover tweets-wrapper">
  <h1 class="cover-heading">Tech News</h1>
  <div class="row">
    <% @tweets.each do |tweet| %>
      <div class="col-12 col-md-6">
        <div class="tech-news">
          <div class="card-body">
            <div class="card-text">
              <p><%= tweet.user.screen_name %></p>
              <p><%= twitter_parser(tweet.full_text) %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

