@import "bootstrap";
@import "gritter";

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  font-family: 'Raleway', sans-serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

.cover-container {
  max-width: 65em;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}
.masthead h3 {
  font-weight: 600;
}
.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.inner.cover {
  text-align: center;
  padding-top: 12rem;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
.mastfoot p {
  text-align: center;
}

/*
 * Custom styles
 */
.card-body {
  color: black;
}
.auth-link {
  margin-top: 1rem;
}
.auth-link a {
  color: black;
}
.register-text {
  text-align: center;
}
.card {
  margin: 4rem auto 0;
}
.login > .card {
  width: 22rem;
}
.app-nav span {
  margin-right: 2rem;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('home-bg2.jpg') no-repeat;
  background-size: cover;
}

.app-footer {
  color: white;
}

.btn-warning {
  color: white;
  font-weight: 700;
}
.inner.cover.tweets-wrapper {
  padding-top: 4rem;
}

.app-card-container .card {
  background-color: rgba(0,0,0,.8);
  padding: 20px;
}
.app-card-container .card .headshot {
  text-align: center;
}
.app-card-container .card .about-content {
  padding-top: 15px;
}
.headshot-wrapper {
  background-color: #ffffff;
  max-width: 200px;
  margin: 0 auto;
  padding: 20px;
}
.headshot-wrapper > img {
  max-width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.8);
}