// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * Custom Styles
 */
div.tech-news {
  background-color: #ffffff;
  border-radius: 3px;
  margin-bottom: 2rem;
}
div.tech-news div.card-body p {
  color: black;
  text-shadow: none;
}

.tech-news .card-body a {
  color: #000000;
}
.skills {
  margin-top: 20px;
}
.skills > .skill > h4 {
  text-align: left;
}
.headshot > h1 {
  text-align: left;
  margin-bottom: 15px;
}